/*--------------------------------------------------------------
# Cursor Glow Effect
--------------------------------------------------------------*/
.cursor-glow {
  position: fixed;
  display: none;
  width: 500px;
  height: 500px;
  border-radius: 50%;
  background: radial-gradient(circle, rgba(248, 195, 43, 0.1) 0%, rgba(248, 195, 43, 0) 60%);
  pointer-events: none;
  transform: translate(-50%, -50%);
  z-index: 0;
  filter: blur(50px);
}

body.dark-mode .cursor-glow {
  display: block;
}
